@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(300deg, #CED1D6, #bfc0c0);
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

input {
    border-radius: 25px;
    border: none;
    padding: 1rem;
    background-color: white;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 120px;
    text-align: center;
}

input:focus {
    outline: none;
}

#form button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    user-select: none;
    cursor: pointer;
}

.weather {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.weather h2 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather img {
    transform: scale(2);
}

.weather .result {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
