@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    flex-direction: column;
}

.container {
    background-color: rgb(46, 12, 80);
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

.container div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h2 {
    margin-top: 0;
}

.container .length {
    width: 60px;
}

.password {
    background-color: rebeccapurple;
    padding: 10px 10px 10px 10px;
    height: 70px;
    position: relative;
    overflow: hidden;
}

.copy {
    position: absolute;
    height: 80%;
    right: 2%;
    color: white;
    border: none;
    background-color:rgb(46, 12, 80);
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

.container div input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.generate {
    width: 100%;
    height: 40px;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    color: white;
    background-color: rebeccapurple;
}
